<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wisebridge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WiseBridge">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wisebridge.Login"
            android:label="LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.Registeration"
            android:label="RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.profile"
            android:label="ProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.Adminhome"
            android:label="AdminActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.Homeuser"
            android:label="HomeuserActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.Homeexpert"
            android:label="HomeexpertActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.forgotpassword"
            android:label="ForgotPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.Subscriptions"
            android:label="SubscriptionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.Reviewpage"
            android:label="ReviewpageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.payment"
            android:label="PaymentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name="com.example.wisebridge.Verifyuserpayment"
            android:label="VerifyPaymentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>